/* APP CSS declarations go here */
@import "http://webfonts.ru/import/notcourier.css";

html {
    position: relative;
    min-height: 100%;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
}

body {
	margin: 0 0 200px; /* bottom = footer height */
	background-color: #FFFFFF;
}

h1 {
	color: #FFFFFF;
	font-family: 'Josefin Sans';
	font-size: 22pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
.profiles-header {
	width: 100%;
	height: 110px;
	background-color: #D3D3D3;
	border: 1px solid #B8B8B8;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(bottom, #BDBDBD 0%, #D3D3D3 100%);
	background-image: -o-linear-gradient(bottom, #BDBDBD 0%, #D3D3D3 100%);
	background-image: -moz-linear-gradient(bottom, #BDBDBD 0%, #D3D3D3 100%);
	background-image: -webkit-linear-gradient(bottom, #BDBDBD 0%, #D3D3D3 100%);
	background-image: -ms-linear-gradient(bottom, #BDBDBD 0%, #D3D3D3 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #BDBDBD),
		color-stop(1, #D3D3D3)
	);
}

/*.profiles-buttons {
	width: 100%;
	height: 80px;
}*/

#all-profiles, #filter-by {
	display: inline-block;
	width: 120px;
	height: 20px;
	font-family: 'Tahoma';
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: #FFFFFF;
	background-color: #D00F4A;
	border: 1px solid #B37D00;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(bottom, #9D0B38 0%, #D00F4A 100%);
	background-image: -o-linear-gradient(bottom, #9D0B38 0%, #D00F4A 100%);
	background-image: -moz-linear-gradient(bottom, #9D0B38 0%, #D00F4A 100%);
	background-image: -webkit-linear-gradient(bottom, #9D0B38 0%, #D00F4A 100%);
	background-image: -ms-linear-gradient(bottom, #9D0B38 0%, #D00F4A 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #9D0B38),
		color-stop(1, #D00F4A)
	);
}

#all-profiles:hover, #filter-by:hover {
	transform: scale(1.05);
}

.filter-pick {
	display: inline-block;
}

.profile-list {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

.user-profile {
	vertical-align: top;
	height: 300px;
	width: 48.5%;
	background-color: #D3D3D3;
	border: 1px solid #B8B8B8;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(bottom, #BDBDBD 0%, #D3D3D3 100%);
	background-image: -o-linear-gradient(bottom, #BDBDBD 0%, #D3D3D3 100%);
	background-image: -moz-linear-gradient(bottom, #BDBDBD 0%, #D3D3D3 100%);
	background-image: -webkit-linear-gradient(bottom, #BDBDBD 0%, #D3D3D3 100%);
	background-image: -ms-linear-gradient(bottom, #BDBDBD 0%, #D3D3D3 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #BDBDBD),
		color-stop(1, #D3D3D3)
	);
}

.user-name {
	font-family: 'Tahoma';
	padding-left: 10px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 5px;
}

#members-header {
	color: #FFFFFF;
	font-family: 'Tahoma';
	padding-left: 10px;
	margin-top: 5px;
	height: 30px;
}
.header-homepage {
	background-color: #D00F4A;
	width: 100%;
	height: 10%;
	text-align: center;
	margin-top: 10px;
	margin-left: 0px;
	padding-top: 8px;
}
#web_logo {
	text-align: left;
	position: relative;
}
#shinkai_art {
	text-align: center;
	position: relative;
	width: 70px;
	height: 70px;
}
#city_art {
	text-align: center;
	width: 100%;
	margin-top: 5px;
}
.mission {
	display: inline-block;
}
#background-info {
	font-family: 'Tahoma';
	font-size: 14pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	text-align: left;
	color: #333333;
	padding: 1px 1px 4px 4px;
	width: 500px;
	margin-top: 0px;
}
#our-mission {
	color: #D8507A;
	font-family: 'Josefin Sans';
	font-size: 16pt;
	text-align: left;
	margin-left: 4px;
}
#swell {
	margin-top: 5px;
	margin-left: 5px;
	width: 100%;
	height: 400px;
	text-align: bottom;
}
.lower {
	background-color: #D00F4A;
	border: none;
	color: white;
	font-family: 'Arial';
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16pt;
	border-radius: 2px;
	width: 150px;
	height: 50px;
	float: right;
	margin-left: 2px;
	margin-right: 5px;
	margin-bottom: 2px;
}

.lower label{
  font-family: 'NotCourierSans';
  text-transform:uppercase;
  font-size:40px;
  text-align:center;
}

.lower label:hover{
  cursor:pointer;
}

#op{
  display:none;
}

.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background: rgba(0,0,0,0.9);*/
	background-color: #D00F4A;
	word-spacing: 2px;
}

.overlay label{
	width: 58px;
	height:58px;
	position: absolute;
	right: 20px;
	top: 20px;
	background: url('http://tympanus.net/Development/FullscreenOverlayStyles/img/cross.png');
	z-index: 100;
  cursor:pointer;
}
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-weight: lighter;
	display: block;
	color: white;
  text-decoration:none;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
  font-family: 'Arial';
  text-transform:uppercase;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #849368;
}

.lower~.overlay-hugeinc{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

#op:checked~.overlay-hugeinc{
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-moz-perspective: 300px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

#op:checked~.overlay-hugeinc nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

#op:not(:checked)~.overlay-hugeinc nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

.footer-links {
	width: 100%;
	height: 200px;
	background-color: #333333;
}

.footer-block {
	display: inline-block;
	height: 160px;
	color: #FFFFFF;
	font-family: 'Josefin Sans';
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	font-size: 14pt;
	white-space: normal;
	vertical-align: top;
	font-weight: bold;
}

.footer-block-social {
	width: 50%;
}

.footer-block-contact {
	width: 35%;
}

.quick-link a {
	color: #D00F4A;
	text-decoration: none;
	font-size: 14pt;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

.quick-link a:hover {
	color: #D8507A;
}

#social {
	text-align: center;
}

#social-icon-para {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 5px;
}

.social-icon {
	display: inline-block;
	width: 70px;
	margin-left: 15px;
	margin-right: 15px;
	height: 70px;
	overflow: hidden;
	vertical-align: center;
}

.social-icon:hover {
	transform: scale(1.05);
}

#contact {
	text-align: right;
}

.address-info {
	text-align: right;
	font-size: 12pt;
	font-weight: normal;
}

.panel {
	background-color: #D00F4A;
	color: #FFFFFF;
	height: 1000px;
	width: 300px;
	box-shadow: 5px 5px 2px #333333;
}
#profile_photo {
	width: 120px;
	height: 120px;
	border-radius: 4px;
	padding-top: 10px;
	vertical-align: middle;
	margin-left: 90px;
	margin-right: 90px;
	margin-top: 50px;
}
.profile_info {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
#profile_name {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Josefin Sans';
	font-weight: bold;
	font-size: 16pt;
}
#bullet_panel {
	height: 120px;
	width: 260px;
	margin-bottom: 20px;
	background-color: #929497;
	box-shadow: 5px 5px 2px #333333;
}
.profile_bullets {
	font-family: 'Tahoma';
	text-align: left;
	padding-top: 10px;
	list-style-type: none;
	font-size: 11pt;
	padding-left: 10px;
	font-weight: lighter;
}
.profile_bullets li {
	padding-bottom: 10px;
}

#description_panel {
	height: 350px;
	width: 260px;
	text-align: left;
	background-color: #929497;
	box-shadow: 5px 5px 2px #333333;
}

#description_paragraph {
	font-family: 'Tahoma';
	font-size: 11pt;
	font-weight: lighter;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

#enterInfo {
	text-align: center;
}

.wrapper {
	margin-top: 80px;
	margin-bottom: 80px;
}

.form-signin {
	max-width: 380px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);
}

input[type="email"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.login-wrapper{
	margin-top: 50px;
}

.login-inner-wrapper{
	width:300px;
	margin: 0 auto;
}

#inputPassword, #inputEmail, #loginButton{
	width:300px;
	margin-bottom: 15px;
	height: 30px;
	font-size: 20px;
	border-radius: 5px;
	border-color: rgba(0,0,0,0.1);
	display:block;
}

.login-wrapper{
	font-family: 'Josefin Sans';
}
