/* APP CSS declarations go here */
@import "http://webfonts.ru/import/notcourier.css";

body {
	background-color: #FFFFFF;
}
h1 {
	color: #FFFFFF;
	font-family: 'Josefin Sans';
	font-size: 22pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
.header1 {
	background-color: #D00F4A;
	width: 100%;
	height: 10%;
	text-align: center;
	margin-top: 10px;
	margin-left: 0px;
	padding-top: 8px;
}
#web_logo {
	text-align: left;
	position: relative;
}
#shinkai_art {
	text-align: center;
	position: relative;
	width: 70px;
	height: 70px;
}
#city_art {
	text-align: center;
	width: 100%;
	margin-top: 5px;
}
.mission {
	display: inline-block;
}
#background-info {
	font-family: 'Tahoma';
	font-size: 14pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	text-align: left;
	color: #333333;
	padding: 1px 1px 4px 4px;
	width: 500px;
	margin-top: 0px;
}
#our-mission {
	color: #D8507A;
	font-family: 'Josefin Sans';
	font-size: 16pt;
	text-align: left;
	margin-left: 4px;
}
#swell {
	margin-top: 5px;
	margin-left: 5px;
	width: 100%;
	height: 400px;
	text-align: bottom;
}
.lower {
	background-color: #D00F4A;
	border: none;
	color: white;
	font-family: 'Arial';
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16pt;
	border-radius: 2px;
	width: 150px;
	height: 50px;
	float: right;
	margin-left: 2px;
	margin-right: 5px;
	margin-bottom: 2px;
}

.lower label{
  font-family: 'NotCourierSans';
  text-transform:uppercase;
  font-size:40px;
  text-align:center;
}

.lower label:hover{
  cursor:pointer;
}

.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background: rgba(0,0,0,0.9);*/
	background-color: #D00F4A;
	word-spacing: 2px;
}

.overlay label{
	width: 58px;
	height:58px;
	position: absolute;
	right: 20px;
	top: 20px;
	background: url('http://tympanus.net/Development/FullscreenOverlayStyles/img/cross.png');
	z-index: 100;
  cursor:pointer;
}
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-weight: lighter;
	display: block;
	color: white;
  text-decoration:none;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
  font-family: 'Arial';
  text-transform:uppercase;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #849368;
}

.lower~.overlay-hugeinc{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

#op:checked~.overlay-hugeinc{
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-moz-perspective: 300px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

#op:checked~.overlay-hugeinc nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

#op:not(:checked)~.overlay-hugeinc nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

.footer-links {
	width: 100%;
	height: 200px;
	background-color: #333333;
}

.footer-block {
	display: inline-block;
	width: 30%;
	height: 160px;
	color: #FFFFFF;
	font-family: 'Josefin Sans';
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	font-size: 14pt;
	white-space: normal;
	vertical-align: top;
	font-weight: bold;
}

.quick-link a {
	color: #D00F4A;
	text-decoration: none;
	font-size: 14pt;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

.quick-link a:hover {
	color: #D8507A;
}

#social {
	text-align: center;
}

#social-icon-para {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 5px;
}

.social-icon {
	display: inline-block;
	width: 70px;
	margin-left: 15px;
	margin-right: 15px;
	height: 70px;
	overflow: hidden;
	vertical-align: center;
}

.social-icon:hover {
	transform: scale(1.05);
}

#contact {
	text-align: right;
}

.address-info {
	text-align: right;
	font-size: 12pt;
	font-weight: normal;
}
